<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Тех-поддержка</title>
    </head>
    <body>
    <div th:each="request : ${requests}" style="margin-left:auto;margin-right:auto;width:40%;">
        <div style="margin:10px;padding:10px;border:2px solid black;border-radius:10px;">
            <p>Написавший: <b th:text="${request.owner_id}"/></p>
            <p>Тема: <b th:text="${request.theme}"/></p>
            <br>
            <p th:text="${request.text}"/>
            <br>
            <form action="/admin/techSupport" method="post">
                <input type="hidden" th:value="${request.id}" name="id">
                <input type="hidden" th:value="${request.owner_id}" name="owner_id">
                <textarea name="text" cols="30" rows="10" placeholder="Ответ пользователю"></textarea>
                <button>Отправить ответ</button>
            </form>
        </div>
    </div>
    </body>
</html>