<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Диалог</title>
        <link rel="icon" href="data:,">
    </head>
    <body>
        <a href="/news">Новости</a>
        <a href="/messanger">Сообщения</a>
        <a th:href="@{/{id}(id=${id})}">Профиль</a>

        <form action="/messanger" method="post">
            <input type="hidden" th:value="${dialog_id}" name="id">
            <input type="text" name="message">
            <button type="submit">отправить</button>
        </form>

        <div th:each="message : ${messages}">
            <img th:src="@{'data:image/jpeg;base64,'+${message.senderPhoto}}" style="width:25px;height:25px;object-fit:cover;border-radius:50%;" alt="no photo"/>
            <b th:text="${message.senderName}"/>
            <p th:text="${message.text}"/>

            <br>
        </div>
    </body>
</html>