<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Редактирование</title>
        <link rel="icon" href="data:,">
    </head>
    <body>
        <div th:each="user : ${user}">
            <form action="/edit" method="post" enctype="multipart/form-data">
                <label>Фото профиля</label>
                <input type="file" name="photo">
                <input type="text" placeholder="имя" th:value="${user.name}" name="name">
                <input type="text" placeholder="статус" th:value="${user.status}" name="status">
                <button type="submit">Изменить</button>
            </form>
        </div>
    </body>
</html>