<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Сообщения</title>
        <link rel="icon" href="data:,">
    </head>
    <body>
        <a href="/news">Новости</a>
        <a href="/messanger">Сообщения</a>
        <a th:href="@{/{id}(id=${id})}">Профиль</a>
        <div th:each="dialog : ${dialogs}">
            <img th:src="@{'data:image/jpeg;base64,'+${dialog.photo}}" style="width:25px;height:25px;object-fit:cover;border-radius:50%;" alt="no photo"/>
            <a th:href="@{/messanger/{id}(id=${dialog.id})}" th:text="${dialog.name}"/>
            <br>
        </div>
    </body>
</html>