<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Заявки на смену имяни</title>
    </head>
    <body>
        <div th:each="request : ${requests}" style="margin-left:auto;margin-right:auto;width:40%;">
            <div style="margin:10px;padding:10px;border:2px solid black;border-radius:10px;">
                <p>id запроса <b th:text="${request.id}"/></p>
                <p>id запрашивающего <b th:text="${request.request_owner_id}"/></p>
                <p>текущее имя <b th:text="${request.old_name}"/></p>
                <p>новое имя <b th:text="${request.new_name}"/></p>
                <form action="/admin/nameRequests" method="post">
                    <input type="hidden" value="accept" name="todo">
                    <input type="hidden" th:value="${request.id}" name="id">
                    <input type="hidden" th:value="${request.new_name}" name="name">
                    <button type="submit">принять</button>
                </form>
                <form action="/admin/nameRequests" method="post">
                    <input type="hidden" value="reject" name="todo">
                    <input type="hidden" th:value="${request.id}" name="id">
                    <button type="submit">отклонить</button>
                </form>
            </div>
        </div>
    </body>
</html>