<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>Новости</title>
      <link rel="icon" href="data:,">
  </head>
  <body>
      <style>
          .ref,form {
            margin-left: 40%;
            margin-right: 40%;
          }
          .select {
            display:flex;
          }
      </style>
      <div class="select">
          <select name="select" id="select" onchange="selectChecker()">
              <option value="newest">Самые новые</option>
              <option value="most_popular">Самые популярные</option>
              <option selected disabled>фильтр</option>
          </select>
      </div>
      <form action="/news" method="get">
          <input type="search" name="search">
          <button type="submit">Поиск</button>
      </form>

      <a href="/news" class="ref">Новости</a>
      <a href="/messanger" class="ref">Сообщения</a>
      <a th:href="@{/{id}(id=${id})}" class="ref">Профиль</a>

    <div th:each="post : ${recommended}" style="margin-left:auto;margin-right:auto;width:40%;">
        <div style="margin:10px;padding:10px;border:2px solid black;border-radius:10px;">
            <img th:src="@{'data:image/jpeg;base64,'+${post.ownerPhoto}}" style="width:25px;height:25px;object-fit:cover;border-radius:50%;" alt="no photo"/>
            <a th:href="@{/{id}(id=${post.owner_id})}" th:text="${post.ownerName}" style="margin-left:auto;margin-right:auto;" class="ref"/>
            <i th:text="${post.date}" style="margin-left:30px;"/>
            <p><a th:text="${post.text}" th:href="@{/post/{id}(id=${post.id})}" style="color:black;text-decoration:none;"/></p>

            <img th:unless="${post.photo == ''}" th:src="@{'data:image/jpeg;base64,'+${post.photo}}" style="width:250px;height:250px;object-fit:cover;" alt="no photo"/>

            <form method="post" name="post" style="margin:auto;">
                <input type="checkbox" name="like" th:checked="${post.liked}">
                <input type="hidden" th:value="${post.id}" name="id">
                <b th:text="${post.likeCounter}" name="likeCounter"/>
                <textarea name="comment" cols="30" rows="2" style="resize:none"></textarea>
                <button type="button" name="sendComment">O</button>
            </form>
        </div>
    </div>
      <script type="text/javascript" th:src="@{/js/script.js}"></script>
  </body>
</html>