<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Пост</title>
    </head>
    <body>
        <style>
              .ref,form {
                margin-left: 40%;
                margin-right: 40%;
              }
          </style>

        <a href="/news" class="ref">Новости</a>
        <a href="/messanger" class="ref">Сообщения</a>
        <a th:href="@{/{id}(id=${id})}" class="ref">Профиль</a>

        <div th:each="post : ${post}"  style="margin-left:auto;margin-right:auto;width:40%;">
            <div style="margin:10px;padding:10px;border:2px solid black;border-radius:10px;">
                <img th:src="@{'data:image/jpeg;base64,'+${post.ownerPhoto}}" style="width:25px;height:25px;object-fit:cover;border-radius:50%;" alt="no photo"/>
                <a th:href="@{/{id}(id=${post.owner_id})}" th:text="${post.ownerName}" style="margin-left:auto;margin-right:auto;" class="ref"/>
                <i th:text="${post.date}" style="margin-left:30px;"/>
                <p th:text="${post.text}"/>
                <img th:unless="${post.photo == ''}" th:src="@{'data:image/jpeg;base64,'+${post.photo}}" style="width:250px;height:250px;object-fit:cover;" alt="no photo"/>

                <form method="post" name="post" style="margin:auto;">
                    <input type="checkbox" name="like" th:checked="${post.liked}">
                    <input type="hidden" th:value="${post.id}" name="id">
                    <b th:text="${post.likeCounter}" name="likeCounter"/>
                    <textarea name="comment" cols="30" rows="2" style="resize:none"></textarea>
                    <button type="button" name="sendComment">O</button>
                </form>
            </div>
        </div>
        <b class="ref">Комментарии</b>
        <div th:each="comment : ${comments}"  style="margin-left:auto;margin-right:auto;width:40%;">
            <div style="margin:10px;padding:10px;border:2px solid black;border-radius:10px;">
                <img th:src="@{'data:image/jpeg;base64,'+${comment.ownerPhoto}}" style="width:25px;height:25px;object-fit:cover;border-radius:50%;" alt="no photo"/>
                <a th:href="@{/{id}(id=${comment.owner_id})}" th:text="${comment.ownerName}" style="margin-left:auto;margin-right:auto;" class="ref"/>
                <p th:text="${comment.text}"/>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/js/script.js}"></script>
    </body>
</html>