<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Профиль</title>
        <link rel="icon" href="data:,">
    </head>
    <body>
    <style>
        a {
        color:black;text-decoration:none;
        }
        .navbar {
        padding: 3px;
        border: 2px solid black;
        border-radius:6px;
        }
    </style>
        <a href="/news" class="navbar">Новости</a>
        <a href="/messanger" class="navbar">Сообщения</a>
        <a th:href="@{/{id}(id=${id})}" style="color:red;" class="navbar">Профиль</a>
        <a th:if="${role == 'ADMIN'}" href="/admin" class="navbar">админ панель</a>
        <a href="/tech-support" class="navbar">Тех-поддержка</a>

        <form action="/logout" method="post">
            <button type="submit">выйти</button>
        </form>
        <div th:each="account : ${account}">
            <img th:src="@{'data:image/jpeg;base64,'+${account.photo}}" style="width:100px;height:100px;object-fit:cover;border-radius:10%;" alt="no photo"/>
            <b th:text="${account.name}" id="name"/>
            <p th:text="${account.status}"/>
            <div>
                <a th:href="@{/{id}/edit(id=${account.id})}">Редактировать</a>
            </div>
            <a th:href="@{/messanger/{id}(id=${account.id})}">Написать сообщение</a>

            <form action="/addFriend" method="post">
                <input type="hidden" th:value="${account.id}" name="id">
                <button type="submit">Добавить в друзья</button>
            </form>
            <div th:each="friend : ${friends}">
                <div style="margin:10px;padding:10px;border:2px solid black;border-radius:10px;display:inline-block;">
                    <img th:src="@{'data:image/jpeg;base64,'+${friend.photo}}" style="width:25px;height:25px;object-fit:cover;border-radius:50%;" alt="no photo"/>
                    <a th:href="@{/{id}(id=${friend.id})}" th:text="${friend.name}" style="margin-left:auto;margin-right:auto;" class="ref"/>
                </div>
            </div>
        </div>

        <form action="/createPost" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Что нового?" name="postText">
            <input type="file" name="photo">
            <button type="submit">Опубликовать</button>
        </form>
    <div th:each="post : ${posts}" style="margin-left:auto;margin-right:auto;width:40%;">
        <div style="margin:10px;padding:10px;border:2px solid black;border-radius:10px;">
            <img th:src="@{'data:image/jpeg;base64,'+${post.ownerPhoto}}" style="width:25px;height:25px;object-fit:cover;border-radius:50%;" alt="no photo"/>
            <a th:href="@{/{id}(id=${post.owner_id})}" th:text="${post.ownerName}" style="margin-left:auto;margin-right:auto;" class="ref"/>
            <i th:text="${post.date}" style="margin-left:30px;"/>
            <p><a th:text="${post.text}" th:href="@{/post/{id}(id=${post.id})}" style="color:black;text-decoration:none;"/></p>

            <img th:unless="${post.photo == ''}" th:src="@{'data:image/jpeg;base64,'+${post.photo}}" style="width:250px;height:250px;object-fit:cover;" alt="no photo"/>

            <form method="post" name="post" style="margin:auto;">
                <input type="checkbox" name="like" th:checked="${post.liked}">
                <input type="hidden" th:value="${post.id}" name="id">
                <b th:text="${post.likeCounter}" name="likeCounter"/>
                <textarea name="comment" cols="30" rows="2" style="resize:none"></textarea>
                <button type="button" name="sendComment">O</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script type="text/javascript">
        document.title = document.getElementById("name").innerHTML;
    </script>
    </body>
</html>