<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Зарегистрироваться</title>
    </head>
    <body>
        <b th:text="${message}"/>
        <br>
        <form action="/reg" method="post">
            <label>Имя</label>
            <input type="text" name="name">

            <br>

            <label>Логин</label>
            <input type="text" name="login">

            <br>

            <label>Пароль</label>
            <input type="text" name="password">

            <br>
            <label>Почта</label>
            <input type="email" name="gmail">

            <button type="submit">Зарегистрироваться</button>
        </form>
        <br>
        <b>Уже есть аккаунт? <a href="/">Войти</a></b>
    </body>
</html>