<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>Поиск</title>
      <link rel="icon" href="data:,">
  </head>
  <body>
      <form action="/news" method="get">
        <input type="search" name="search">
        <button type="submit">Поиск</button>
      </form>

      <a href="/news">Новости</a>
      <a href="/messanger">Сообщения</a>
      <a th:href="@{/{id}(id=${id})}">Профиль</a>

      <br>
      <br>

      <div th:each="user : ${searchResult}">
          <hr>
          <a th:href="@{/{id}(id=${user.id})}" th:text="${user.name}"/>
      </div>
  </body>
</html>